/* .wrap{
    width: 70%;
    margin: 0 auto;
    padding: 20px;
} */

header {
    display: flex;
    justify-content: center; 
    margin: 30px auto;
}

#navbar {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    background-color: #f4f4f8; 
    border-radius: 12px; 
    padding: 12px 30px;
    width: 60%; 
}


h1{
    color: #696D7D;
    text-align: center;
}

.blog-image{
    float: right;
    margin: 10;
    border-radius: 10px;
    
}
